body {
    margin: 0;
    font-family: '黑体';
}

.clear {
    clear: both;
}

.topDiv {
    width: 99%;
    height: 120px;
    background: #f2f2f2;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5px;
}

.mainBodyDiv {
    width: 99%;
    height: 600px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5px;
}

.leftBodyDiv {
    float: left;
    width: 15%;
    height: 100%;
    background: #f2f2f2;
    overflow:auto;
}

.rightBodyDiv {
    float: left;
    width: 84.5%;
    height: 100%;
    margin-left: 0.5%;
    background: #f2f2f2;
}

.plusBtn {
    float: left;
    height: 10px;
    width: 10px;
    line-height: 10px;
    text-align: center;
    margin: 6px;
    background-image: url('../assets/u6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.reduceBtn {
    float: left;
    height: 10px;
    width: 10px;
    line-height: 10px;
    text-align: center;
    margin: 6px;
    background-image: url('../assets/u6_selected.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.emptyBtn {
    float: left;
    height: 10px;
    width: 10px;
    line-height: 10px;
    text-align: center;
    margin: 6px;
}

.stageText {
    white-space:nowrap;
}

.firstStage {}

.secondStage {
    margin-left: 20px;
}

.thirdStage {
    margin-left: 20px;
}

.forthStage {
    margin-left: 20px;
}